/* My Store
Add Item to My Store css */

.add-item-to-my-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.marketplace-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.marketplace-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.marketplace-item img {
  max-width: 100px;
  max-height: 100px;
}
.marketplace-item h3 {
  margin: 10px 0;
}
